.home {
  height: 100vh;
  background-color: #cccccc;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__title {
  font-size: 40px;
}

.home__sub__title {
  font-size: 22px;
  margin-bottom: 25px;
}

/* .home__btns {} */

@media screen and (max-width: 992px) {
  .home {
    height: 50vh;
    background-color: #cccccc;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-left: 25px;
  }

  .home__title {
    font-size: 20px;
  }

  .home__sub__title {
    font-size: 15px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .home {
    height: 50vh;
    background-color: #cccccc;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-left: 25px;
  }

  .home__title {
    font-size: 20px;
  }

  .home__sub__title {
    font-size: 15px;
    margin-bottom: 15px;
  }
}