.meeting {
  height: 100vh;
  width: 100%;
  background: url("../images/meeting.png") center center no-repeat;
  background-size: cover;
  color: #fff;
}

.meeting__content {
  background-color: rgba(177, 159, 139, 0.5);
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}

.meeting__content__title {
  margin: 0;
  color: #000;
  font-size: 20px;
}

.meeting__content__sub__title {
  font-size: 15px;
}

@media screen and (max-width: 992px) {
  .meeting {
    height: 50vh;
    width: 100%;
    background: url("../images/meeting.png") center center no-repeat;
    background-size: cover;
    color: #fff;
  }
}

@media only screen and (max-width: 600px) {
  .meeting {
    height: 50vh;
    width: 100%;
    background: url("../images/meeting.png") center center no-repeat;
    background-size: cover;
    color: #fff;
  }
}